@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Work+Sans&display=swap');
* {
    font-family: 'Work Sans', 'SF Pro', 'Segoe UI', sans-serif;
    color: #fff;
}

html,
body,
.no-margin {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #000008;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading,
th {
    font-family: 'Raleway', 'Helvetica', serif;
}

.head {
    background: linear-gradient(to right, #f15a24, #ed1e79 60%, #ed1e7900);
    border-radius: 5px;
    padding: 6px 0;
    width: 60vw;
}

header {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.small-caps {
    font-variant: small-caps;
}

.technobytes-logo {
    font-family: 'Stencil', sans-serif;
    font-variant: small-caps;
    font-size: 64px;
}

header>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-left {
    padding: 10px;
    width: 150px;
    height: 150px;
    justify-content: center;
}

section {
    margin: 0 2vw;
}

.workshop-ranks {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.image-text {
    float: right;
    display: flex;
    flex-direction: column;
    word-wrap: normal;
    text-align: center;
    width: 200px;
    margin: 10px 10px;
}

.image-text>img {
    object-fit: contain;
    width: 200px;
}

.rank-holders {
    display: flex;
    flex-direction: column;
    float: left;
    align-items: center;
    width: 35vw;
    min-width: 280px;
    max-width: 320px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.rank-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 250px;
    width: 32vw;
}

.content-text {
    text-align: justify;
    text-justify: inter-word;
}

.left {
    float: left;
}

.gallery-back {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    overflow: hidden;
    top: 0;
    left: 0;
    background: #000c;
    z-index: 100;
    user-select: none;
}

.gallery-view {
    width: 80vw;
    height: 80vh;
    left: 50%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 200;
    background: #111;
}

.close-gallery {
    width: 30px;
    position: absolute;
    top: calc(10vh - 10px);
    left: calc(90vw - 30px);
    z-index: 250;
    cursor: pointer;
}

.left-button {
    left: calc(10vw + 25px);
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 250;
    cursor: pointer;
}

.right-button {
    right: calc(11vw + 25px);
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 250;
    cursor: pointer;
}

.image-canvas {
    object-fit: contain;
    width: 60vw;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 300;
}

.open-zoom {
    cursor: zoom-in;
}

.open-gallery {
    cursor: pointer;
}

br {
    display: block;
    margin: 10px 0;
}

table {
    border-collapse: collapse;
    border: 1px solid #000;
    text-align: center;
    overflow-x: scroll;
}

tr {
    background-color: #222;
}

tr:nth-child(1) {
    background: linear-gradient(to right, #f15a24, #ed1e79);
    color: #fff;
}

tr:nth-child(2),
tr:nth-child(3),
.odd {
    background-color: #111;
}

td,
th {
    border: 1px solid #ccc;
    padding: 8px 0;
}

@media only screen and (min-width: 600px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 60vw;
        padding: 30px 10vw 0 10vw;
    }
}